{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        window.ORDERING_FIELD = "{{ ordering_field }}";
    </script>
{% endblock %}

{% block content_title %}

  {{ block.super }}

  {% block orderable_help_text %}
    <p class="help">{% blocktrans with cl.opts.verbose_name_plural as verbose_name_plural %}
<strong>TIP:</strong> You can drag and drop the 
<span id="verbose-name-plural">{{ verbose_name_plural }}</span> 
in this list to change their order on the site &mdash; just be sure to 
click the Save button in the lower right of the list when you're done!
{% endblocktrans %}</p>
  {% endblock %}

{% endblock %}
